/* ------------------------------------
個々のページのスタイルを定義する場合は、必ずページIDを最初に指定してください。
ex) #top .hoge {
  color: red;
}
--------------------------------------- */

/* ------------------------------------ 
↓ アプリ全体で使うスタイル ↓
--------------------------------------- */
.basePageContainer {
  display: none;
}

.basePageContainer.is-active {
  display: block!important
}


/* ------------------------------------ 
↓ Top画面のスタイル ↓
--------------------------------------- */



/* ------------------------------------ 
↓ problem画面のスタイル ↓
--------------------------------------- */
#problem .container {
  max-width: 800px;
}

#problem .alert {
  display: none;
}
#problem .alert.is-active {
  display: block;
}

#problem .scenarioBox__txt {
  min-height: 8em;
}

#problem .spinner-grow {
  display: none;
}
#problem .spinner-grow.is-active {
  display: inline-block;
}

#problem .questionBox {
  margin-top: 60px;
  opacity: 0;
  transition: .5s;
}

#problem .questionBox.is-active {
  opacity: 1;
}

#problem .questionBox__label .ttl {
  width: 4.25em;
}

#problem .questionBox__label .cont {
  width: calc(100% - 4.25em);
}

#problem .questionBox__textArea {
  height: 5em;
}

#problem .questionBox .cap {
  color: #666;
  text-align: right;
}

#problem .controlArea {
  margin-top: 80px;
  opacity: 0;
  transition: .5s;
}

#problem .controlArea.is-active {
  opacity: 1;
}

/* ------------------------------------ 
↓ answer画面のスタイル ↓
--------------------------------------- */



/* ------------------------------------ 
↓ problemError画面のスタイル ↓
--------------------------------------- */
#problemError .container {
  max-width: 800px;
}

#problemError .controlArea {
  margin-top: 80px;
}


/* ------------------------------------ 
↓ answerError画面のスタイル ↓
--------------------------------------- */