/* ------------------------------------
個々のページのスタイルを定義する場合は、必ずページIDを最初に指定してください。
ex) #top .hoge {
  color: red;
}
--------------------------------------- */

/* ------------------------------------ 
↓ アプリ全体で使うスタイル ↓
--------------------------------------- */
.basePageContainer {
  display: none;
}

.basePageContainer.is-active {
  display: block!important
}


/* ------------------------------------ 
↓ Top画面のスタイル ↓
--------------------------------------- */
#top .background-set{
  min-height: 100vh;
  background: linear-gradient(25deg, rgba(242, 119, 203, 0.461), rgba(240, 238, 114, 0.625)),url(image/top-background.jpg);
  background-size:cover;
}
#top .top-character{
  padding: 50px;
}
#top .second-top{
  padding: 10px;
  margin: 20px;
}
#top .explanation{
  padding: 10px;
  margin: auto;
}


/* ------------------------------------ 
↓ problem画面のスタイル ↓
--------------------------------------- */



/* ------------------------------------ 
↓ answer画面のスタイル ↓
--------------------------------------- */



/* ------------------------------------ 
↓ problemError画面のスタイル ↓
--------------------------------------- */



/* ------------------------------------ 
↓ answerError画面のスタイル ↓
--------------------------------------- */